<!DOCTYPE html>
<html lang="en">
<!-- head头部分开始 -->
<head>
<include file="Public/public_head" title="布搭布搭学生选课系统" keywords="教师首页" description="" />
</head>
<!-- head头部分结束 -->
<body>
<!-- 顶部导航开始 -->
<include file="Public/public_nav" />
<!-- 顶部导航结束 -->
<div class="b-h-70"></div>
<!-- 主体部分开始 -->
<div id="b-content" class="container">
    <div class="row">

    </div>
    <div class="row">
        <!-- 底部文件开始 -->
        <include file="Public/public_foot" />
        <!-- 通用底部文件结束 -->
    </div>
</div>
<!-- 主体部分结束 -->

<!-- 登陆框开始 -->
<!--<include file="Public/public_login" />-->
<!-- 登陆框结束 -->
</body>
</html>
